{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}

<main class="flex-grow-1">
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center my-5">Foire aux questions</h1>
                    <div class="accordion accordion-flush mx-auto my-5" id="accordionFlushExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapseOne">
                            Pour qui s'adressent les consultations diététique et/ou naturopathique ? 
                            </button>
                            </h2>
                            <div id="flush-collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Pour tout le monde ! Hommes, femmes et enfants de tout âge. 
                            Je peux vous accompagner dans votre alimentation et par des compléments (plantes, huiles essentielles, respiration...) en prenant en compte : 
                            le surpoids / l'obésité les perturbations du bilan sanguin : 
                            triglycérides, cholestérol différentes pathologies comme le diabète, l'hypertension, l'insuffisance cardiaque ,les troubles du comportement alimentaire (anorexie, hyperphagie, boulimie...) 
                            une activité sportive  le stress et la fatigue les troubles hormonaux : SOPK, endométriose, ménopause hypo/hyperthyroïdie... 
                            pathologies ou troubles digestifs : Crohn, RCH, SII, ballonnements, constipation... etc</div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Qu'est ce qu'une diététicienne?
                            </button>
                            </h2>
                            <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Le diététicien est un professionnel de santé expert en alimentation et nutrition. 
                                C'est la seule personne habilité avec le médecin-nutritionniste à délivrer des conseils diététiques individualisés avec une éducation nutritionnelle.</div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapseThree">
                                Les consultations sont-elles remboursées ?
                            </button>
                            </h2>
                            <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                Certaines mutuelles remboursent un certain nombre de consultations, 
                                n'hésitez pas de vous rapprocher de la vôtre pour avoir des renseignements.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapseThree">
                                Qu'est ce qu'un naturopathe ?
                            </button>
                            </h2>
                            <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                Il est tout d'abord un éducateur de santé. 
                                Selon l'Organisation Mondiale de la Santé : 
                                "La naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques ". 
                                Cependant, elle ne se substitue jamais à un traitement médical mais est très souvent utilisée en accompagnement. 
                                Elle regroupe différentes méthodes telles que l'alimentation, la phytothérapie, les respirations, l'aromathérapie, le massage, la réflexologie... 
                                qui permettront la prévention de la santé.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapseThree">
                                Quels diplômes permettent de certifier ces métiers ?
                            </button>
                            </h2>
                            <div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                Pour être diététicien, il est nécessaire d'obtenir un BTS diététique ou un DUT génie biologique option diététique. 
                                Si vous avez affaire à un "nutritionniste" qui n'est ni diététicien, ni médecin, il est alors dans l'exercice illégal de la diététique. 
                                Même s'il n'est pas encore reconnu en France, une formation de naturopathe certifié FENA (Fédération Française des Naturopathes) 
                                vous assurera d'être face à un professionnel ayant eu un cursus complet en naturopathie.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock %}
