{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


<main class="flex-grow-1">

    <div class="container d-flex justify-content-center align-items-center my-5">
        <div class="row">
            <form action="{{ path('app_login') }}" method="post">
                
                <div class="mb-3">
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Email" required>
                </div>
                
                
                <div class="mb-3">
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary">login</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}