{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}

<main class="flex-grow-1">
    <section class="article-section my-5">
        
        <h1 class="text-center mb-5"> {{ article.title }}</h1>
        <div class="col">
        
        </div>

        <div class="">{{ article.content | raw }}</div>

    </section>
</main>




{% endblock %}