{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente
{% endblock %}

{% block body %}

	<div class="container mb-5">
    
		<h1 class="text-center py-5">{{conditions_generales_vente.title}}</h1>

		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="content">
					{{ conditions_generales_vente.content|raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
