{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<main class="home flex-grow-1">

  <section class="home-section-1 py-5">
    <div class="container home-container">
      <div class="row">
        <div class="col">

          <div class="card text-center border-0 mx-auto">
            <div class="card-body">
              <h1 class="card-title">Diététicienne psycho-nutritioniste - Naturopathe</h1>
              <h2 class="card-title">spécialisée en diététique comportementale</h2>
              <h6 class="card-subtitle mb-2">Coline Legeard</h6>
              <p class="card-text">Consultations en visio ou en présentiel à Montévrain et Bussy-Saint-Georges en Seine et Marne (77)</p>
              <p class="card-text"><i>"Si la vie n'est qu'un passage, sur ce passage au moins semons des fleurs" Montaigne</i></p>

              <div class="text-center">
                <a href="https://www.doctolib.fr/dieteticien/esbly/coline-legeard" class="btn btn-custom-color text-white rounded-pill">Prendre rendez-vous</a>
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="home-section-2 py-5">
    <div class="container">
      <div class="row row-accompagnement">
          <p class="fs-4 text-white text-center">
          Je vous aide à retrouver une relation plus apaisée avec votre alimentation et votre corps.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
