{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name }}
{% endblock %}

{% block body %}

	<div class="container my-5">
		<div class="row mb-5">


			<div class="row">
				<div class="col-12 col-md-12 col-lg-12 mb-4">

					<div class="card">

						{% for content in homeContent %}
							{# {% if loop.first %} #}
							<div class="col-12 col-md-12 col-lg-6">
								<div class="card border-0 p-4 h-100 rounded-4 shadow-sm">
									<div class="card-header text-center">
										<h3 class="card-title">{{ content.title }}</h3>
									</div>
									<div class="card-body text-start">
										<p class="card-text">{{ content.content | raw }}</p>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-12 col-lg-6">
								<div class="card border-0 shadow-sm h-100 rounded-4">
									<img src="{{ asset('/images/home/') ~ content.imageName }}" class="img-fluid rounded-4 h-100 object-fit-cover" alt="">
								</div>
							</div>
							{# {% endif %} #}
						{% endfor %}


					</div>


				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid home-message py-5 mt-5">
		<div class="row">
			<p class="fs-4 text-white text-center">
				Je vous aide à retrouver une relation plus apaisée avec votre alimentation et votre corps.
			</p>
		</div>
	</div>
{% endblock %}
