<h2>Bonjour {{ firstname }},</h2>

<p>Merci pour votre commande ! Vous trouverez en pièces jointes :</p>
<ul>
    <li>Votre facture (PDF)</li>
    <li>Les ebooks que vous avez achetés</li>
</ul>

<p>Bonne lecture !</p>
