{% extends 'base.html.twig' %}

{% block title %}Hello OrdersController!{% endblock %}

{% block body %}
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6">
                
                </div>
                <div class="col-6">
                
                </div>
            
            </div>
        
        </div>
    </section>

</main>
{% endblock %}
