{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} {% endblock %}

{% block body %}

<main>
    <section class="product-section my-5">
        <div class="container">

            <div class="row">
                <h1 class="text-center mb-5"> {{ product.name }}</h1>

                <div class="">{{ product.description | raw }}<div>
        
                <p>{{ (product.price / 100) | format_currency('EUR') }}</p>
            
            
            </div>
        
        </div>

    </section>
</main>




{% endblock %}