body{
    background-color: #FCFAEE;
}

nav {

    background-color: #A5B68D;
}

nav .nav-link{
    color: white;
}

.card{
    background-color: #ECDFCC;
}

    /* .card{
        border-color: #DA8359;
    } */