@import "./colors.css";


body{

    background-image: url("../images/background/bg_3.svg");
    
}

nav {

    background-color: var(--pink-pastel);
}

nav .nav-link{
    color: white;
}

nav .active{
    color: var(--orange-pastel);
}

nav .nav-link:hover{
    color: var(--orange-pastel);
}

footer {
    background-color: var(--pink-pastel);
}

.card{
    background-color: var(--light-beige-pastel);
}

.card-footer{

    background: unset;
}

.btn-custom-color{

    background-color: var(--orange-pastel);
}

.btn-custom-color:hover{

    background-color: var(--orange-pastel);
}

.btn-remove-cart-color{
    background-color: #F95454;
}

.btn-remove-cart-color:hover{
    background-color: #F95454;
}

.btn-delete-product-color{

    background-color: #FFEEAD;
}

.btn-delete-product-color:hover{

    background-color: #FFEEAD;
}

.cart-icon svg{

    height: 27px;
    width: auto;
}

.form-control:focus{

    border-color: var(--orange-pastel) !important;
    box-shadow: none !important;
}   