@import "./colors.css";


body{

    background-image: url("../images/background/bg_3.svg");
    
}

nav {

    background-color: var(--pink-pastel);
}

.nav-link:focus{

    box-shadow: none;
    color: var(--orange-pastel);
}

.navbar-nav .nav-link{
    color: white;
}

.navbar-nav .nav-link.show{
    color: var(--orange-pastel);
}

.navbar-nav .nav-link.active{
    color: var(--orange-pastel);
}

.dropdown-item.active{
    background-color: unset;
    color: white;
}

.navbar-nav .nav-link:hover{
    color: var(--orange-pastel);
}

.navbar-nav .dropdown-menu{
    background-color: var(--pink-pastel);
    border: none;

}

footer {
    background-color: var(--pink-pastel);
}

.card{
    background-color: var(--light-beige-pastel);
}

.card-footer{

    background: unset;
}

/* 
.btn-delete-product-color{

    background-color: #FFEEAD;
}

.btn-delete-product-color:hover{

    background-color: #FFEEAD;
} */

.cart-icon svg{

    height: 27px;
    width: auto;
}

.form-control:focus{

    border-color: var(--orange-pastel) !important;
    box-shadow: none !important;
}


.bg-red-pastel{
    background-color: var(--red-pastel) !important;
}