:root {
    --pink-pastel: #FFD6D6;
    --orange-pastel: #FFC099;
    --beige-pastel: #ECDFCC;
    --light-beige-pastel: #fCFAEE;

    --red-pastel: #FF8A8A;   /* Rouge pastel doux */
    --green-pastel: #9FD9A3; /* Vert pastel harmonieux */


    --marron-chocolat:	#402e32;
    --marron-cholocat-clair: #5a3b3f;

    --card-pink: #fff4f3;
}