.consultation-header{
    
    background-color: var(--orange-pastel);
}

.pricing-separator {
    color: var(--orange-pastel);
}

.custom-separator {
    
    width: 5rem;
    height: 8px;
    background-color: var(--orange-pastel);
}