        <h2>Bonjour,</h2>
        <p>J'espère que vous allez bien !</p>
        <p>Je suis ravie de vous retrouver demain autour de cet atelier rempli de bienveillance.</p>

        <p>Je vous mets à la suite quelques petites indications :</p>
        <ul>
            <li>Il y aura un support pour cet atelier, n'hésitez pas à ramener votre plus beau stylo.</li>
            <li>L'adresse : <span class="highlight">Au centre de soi, 53 boulevard Antoine Giroust à Bussy-Saint-Georges</span></li>
            <li>Code de la première porte : <span class="highlight">0512B</span>. Premier bâtiment à droite, interphone au centre de soi. Le local se situe au rez-de-chaussée.</li>
            <li>Je vous accueillerai à partir de <span class="highlight">19h20</span>, l'atelier commencera vers <span class="highlight">19h30</span>.</li>
            <li>Le règlement se fait sur place : l'espèce est plus pratique pour moi mais les chèques sont également acceptés.</li>
            <li>C'est une session cocooning ! Donc venez en tenue confort, il y a des sous-tapis ; si vous avez des douleurs, n'hésitez pas à ramener votre tapis en plus.</li>
        </ul>

        <p>Je vous laisse mon numéro si vous rencontrez un souci pour trouver : <span class="highlight">06 35 23 76 01</span></p>

        <p>Belle journée à vous et je vous dis à demain !</p>