<h2>Bonjour,</h2>
<p>J'espère que vous allez bien !</p>
<p>Je suis ravie de vous retrouver demain pour cet atelier rempli de bienveillance, en visioconférence.</p>

<p>Voici quelques petites indications :</p>
<ul>
    <li>Il n'y aura pas de support pour cet atelier, n'hésitez pas à préparer un carnet et votre plus beau stylo pour prendre des notes.</li>
    <li>Le lien pour rejoindre l'atelier : <a href="{{ link }}" target="_blank">{{ link }}</a></li>
    <li>L'atelier commencera à partir de <span class="highlight">19h30</span>. Je vous conseille de vous connecter quelques minutes avant pour vérifier votre micro et caméra.</li>
    <li>C'est une session cocooning ! Installez-vous confortablement et préparez votre matériel si vous souhaitez prendre des notes.</li>
</ul>

<p>Si vous rencontrez un souci pour vous connecter, n'hésitez pas à me contacter : <span class="highlight">06 35 23 76 01</span></p>

<p>Belle journée à vous et à demain !</p>
