<p>Bonjour les yogis,</p>
<p>J'espère que vous allez bien !</p>
<p>Voici quelques indications pour le cours de yoga de demain, qui se déroulera en visioconférence :</p>
<ul>
    <li>Le lien pour rejoindre le cours : <a href="{{ link }}" target="_blank">{{ link }}</a></li>
    <li>Le cours commencera à partir de <span class="highlight">{{ dateHour }}</span>. Connectez-vous quelques minutes avant pour vérifier votre micro et caméra.</li>
    <li>N'oubliez pas de préparer votre tapis et un espace confortable pour pratiquer.</li>
</ul>

<p>Si vous rencontrez un souci pour vous connecter, n'hésitez pas à me contacter : <span class="highlight">06 35 23 76 01</span></p>

<p>Belle journée à vous et à demain !</p>
