        <p>Bonjour les yogis,</p>
        <p>J'espère que vous allez bien 😊</p>

        <p>Je vous mets à la suite quelques petites indications pour le cours de yoga de demain :</p>
        <ul>
            <li>L'adresse : <span class="highlight">Au centre de soi, 53 boulevard Antoine Giroust à Bussy-Saint-Georges</span></li>
            <li>Code de la première porte : <span class="highlight">0512B</span>. Premier bâtiment à droite, interphone au centre de soi. Le local se situe au rez-de-chaussée.</li>
            <li>Je vous accueillerai 10 minutes avant, le cours commencera vers <span class="highlight">{{ dateHour }}</span>.</li>
            <li>Le règlement se fait sur place : l'espèce est plus pratique pour moi mais les chèques sont également acceptés.</li>
            <li>N'oubliez pas de ramener votre tapis.</li>
        </ul>

        <p>Je vous laisse mon numéro si vous rencontrez un souci pour trouver : <span class="highlight">06 35 23 76 01</span></p>

        <p>Belle journée à vous et je vous dis à demain 🌱</p>