.about{

    .section-valeurs img{
        height: 100%;
        width: auto;
    }

    .card-header {
        background-color: unset;
        border-bottom: unset;
    }
    
    .section-metiers .container .row .card img{
        height: 100%;
        width: auto;
    }

    .section-valeurs img{
        height: 100%;
        width: auto;
    }
}


