.choice:before{
    background-color: #FFB0B0;
    content: "";
    height: 1px;
    position: relative;
    top: 9px;
    width: 100%;
}

.choice::after{
    background-color: #FFB0B0;
    content: "";
    height: 1px;
    position: relative;
    top: 9px;
    width: 100%;
}