<footer class="text-center text-white py-3 fs-5">
    <a href="mailto:coline.legeard@gmail.com" class="text-decoration-none text-white">coline.legeard@gmail.com</a>
    <p>06 35 23 76 01</p>
    <div>
         <a href="https://www.instagram.com/cocodietnaturo" class="text-decoration-none" target="_blank" rel="noopener noreferrer">
        
            <img src="/images/icons/Instagram_logo.svg" alt="Instagram" width="30" height="30">
        </a>


        <a href="https://www.facebook.com/profile.php?id=100063477043523" class="text-decoration-none" target="_blank" rel="noopener noreferrer">
             
            <img src="/images/icons/Facebook_icon.svg" alt="Facebook" width="30" height="30">
        </a>
    </div>
</footer>